@{
    ViewData["Title"] = "Info";
}
<h2>Info</h2> 

<p>
    <strong>Logged in User :</strong> <span>@User.Identity.Name</span>
</p>

<h2>Manage</h2>
<a class="btn btn-outline-primary">Change Password</a>
